<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="header">
  <nav class="navbar navbar-white bg-white" style="display: flex; width: 1400px; position: fixed;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search">
        
      </div>

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
          English
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="message-box">
        <i class="far fa-comment-alt"></i>
        <div class="lines-container">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="notification-bell">
        <i class="far fa-bell"></i>
      </div>

      <div class="user">
        <div class="user-image">
          <img src="assets/Safeimagekit-resized-img (5).png" alt=""></div>
        <div class="user-name">Prabhu</div>
      </div>
    </div>
  </nav>
  </div>