<div class="nav-items">
    <div class="nav-item" style="margin-top: 50px;">
      <div class="three-d-box">
        <i class="fas fa-cube fa-lg"></i>
      </div>
    </div>
    <div class="nav-item">
      <i class="fas fa-chart-bar poll-symbol fa-lg"></i>
    </div>
    <div class="nav-item">
      <i class="far fa-plus-square fa-lg"></i>
    </div>
    <div class="nav-item">
      <i class="fas fa-check fa-lg"></i>
    </div>
    <div class="nav-item">
      <i class="fas fa-cog fa-lg"></i>
    </div>
    <div class="nav-item">
      <div class="square-box">
        <i class="fas fa-download fa-lg"></i>
      </div>
    </div>
    
  </div>
