<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="widget-container">
  <div class="widget blue">
    <div class="download-icon">
      <i class="fas fa-music fa-lg"></i>
    </div>
    <div class="value">
      <div class="top1">30%</div>
      <div class="bottom">Saving For Car Loan</div>
    </div>
  </div>
  <div class="widget white">

    <img src="assets\cutcircle (2).png" alt="noimg">

    <div class="value">
      <div class="top">40%</div>
      <div class="bottom">Saving For Home Loan</div>
    </div>
  </div>
  <div class="widget white">
    <div class="download-icon">
      <i class="fas fa-download download-icon"></i>

      <!-- <i class="fa-solid fa-right-to-bracket fa-rotate-90"></i> -->
    </div>
    <div class="value">
      <div class="top">25%</div>
      <div class="bottom">Saving for Personal Loan</div>
    </div>
  </div>
  <div class="widget white">
    <div class="download-icon">
      <i class="fas fa-sync fa-lg"></i>
    </div>
    <div class="value">
      <div class="top">05%</div>
      <div class="bottom">Saving For Study Loan</div>
    </div>
  </div>
</div>