.main-container {
    display: flex;
    .side-nav {
      width: 40px;
      min-width: 100px;
      min-height: calc(100vh - 70px);
      background-color: white;
      color:rgb(101, 95, 95);
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 130px) {
        width: 10px;
        min-width: 100px;
      }
    }
    .main {
      padding: 30px;
    }
  }